body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #000000;
    color: #333;
}

h1 {
    color: #54e1eb;
    text-align: center;
}

h2 {
    color: #73cec9;
    text-align: center;
}

h3 {
    color: #68dde6;
    
}

p {
    text-align: center;
    color: #586bd6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #4c7985;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}